body {
    color: rgb(74, 74, 145);
    background: black;
    margin: 0px
}

header {
    border-bottom: solid 2px rgb(103, 121, 145);
    padding: 20px;
    font-size: 32px;
    color: rgb(33, 8, 175)
}

section {
    background: rgb(rgb(34, 7, 237));
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}